.content {
  margin-left: 5%;
  margin-right: auto;
  width: 80%;
}

#post-timeline {
    margin-top: 17%;
}

#greeting-container {
  margin-top: 20px;
}

#navicon {
    position: fixed;
    left: 80%;   /* width of #content */
    top: 0;
}

.sansserif {
  font-family: Arial, Helvetica, sans-serif;
}

/* styling only for apl page "logo" */
.header {
  margin-left: 5%;
  text-align: left;
  background: white;
}

/* Horizontally center content on the page */
.main {
  bottom: 45%; /* not 50% (exactly centered) due to space taken up by apl logo at top */
  transform: translate(0%,50%);
  position: absolute;
}

.secondary {
    margin-top: 50%;
}

.tertiary {
    margin-top: 20%;
}

/* navbar text */
.navtext {
    color: white;
    padding-left: 10%;
}

.navbottom {
    position: fixed;
    padding-left: 1.5%;
    bottom: 10%;
    display: flex;
    justify-content: center;
}

.navsocials {
    position: relative;
    width: 100px;
    height: auto;
    padding-left: 5%;
    float: left;
}

/* Navbar (expanded) */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 80%;
  background-color: #2F89FC;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: #ffffff;
  display: block;
}

.sidenav a:hover {
  color: lightgrey;
}

.sidenav .closeButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* All page headers */
h1 {
  text-align: left;
  color: #2F89FC;
  font-size: 500%;
  line-height: .5em
}

/* used only for apl page "logo"*/
/* TODO: FIGURE OUT HOW TO DYANMICALLY RESIZE THIS */
h2 {
  text-align: left;
  color: #060608;
  font-size: 300%;
}

p {
  text-align: left;
  color: #060608;
  font-size: 250%;
}

img.right {
  vertical-align: top;
  float:right;
  width: 800px;
  height:auto;
  max-width:100%;
  max-height:100%;
  padding: 5px;
}